#content {
    margin: 20px 50px;
}

#newtask_form {
    margin: 10px 0;
}

ul {
    list-style: none;
}

ul#tasklist > li {
    margin: 10px 0;
}

label.done {
    text-decoration-line: line-through;
}
